<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.yazhmag.app"
        versionCode = "10"
        version     = "1.2.0">

    <name>ТЕСТ. Яжмаг</name>

    <description>
        Оккультно-юмористический-инфо опросник
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#027AFB" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/1e3ed914d59ececdc8d7861cb5afcc90.png" density="ldpi" />
        <icon src="res/android/icon/6c336c301e69691afe6f0961c47c8148.png" density="mdpi" />
        <icon src="res/android/icon/7d9dc0f508dd8b4743e15885a531df89.png" density="hdpi" />
        <icon src="res/android/icon/a4cfa825e9630dd60b01dbf1aa2dd584.png" density="xhdpi" />
        <icon src="res/android/icon/27784ea6730ae49bfaba15ada8a9d545.png" density="xxhdpi" />
        <icon src="res/android/icon/8b8dc193b5cb8868bb16d04a8021b3a4.png" density="xxxhdpi" />

        <splash src="res/android/screen/c9e9aab103f19e764169de6309739d06.png" density="port-hdpi"/>
        <splash src="res/android/screen/1f2636de6a844d74897ff7f1d7f13348.png" density="port-ldpi"/>
        <splash src="res/android/screen/70fe97d8afccc99ac4d292852d24c8c1.png" density="port-mdpi"/>
        <splash src="res/android/screen/f183123dcf093bf49d4122234fc33c51.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/a9941ad43dbdbd441d817f74faf7df8b.png" width="180" height="180" />
        <icon src="res/ios/icon/aa2ac31c0538f206701454299f34cba7.png" width="60" height="60" />
        <icon src="res/ios/icon/980899654dbddf6ceabbc97b0774406c.png" width="120" height="120" />
        <icon src="res/ios/icon/8f746674ce4e8eb8a9369e716ad2f27d.png" width="76" height="76" />
        <icon src="res/ios/icon/541134eb764eb758a2421cb855f81b7f.png" width="152" height="152" />
        <icon src="res/ios/icon/a9950d70c2e11824122e8fe4a981e9ec.png" width="57" height="57" />
        <icon src="res/ios/icon/7b5cfda370edd9c173444be7e92ec178.png" width="114" height="114" />
        <icon src="res/ios/icon/d0962ce391543c03228566fc97fb6281.png" width="72" height="72" />
        <icon src="res/ios/icon/eb30eccfc889d19261994d5ba1bd8d57.png" width="144" height="144" />
        <icon src="res/ios/icon/a9124d768d7aa4d8d89d032c7c5f27b3.png" width="167" height="167" />
        <icon src="res/ios/icon/c01f90b4274299e883338cf5eb1a9bac.png" width="29" height="29" />
        <icon src="res/ios/icon/df28c91b7bdeaf2f44e274ed27198767.png" width="58" height="58" />
        <icon src="res/ios/icon/b735a0d4d89f8e2c04ae58bf4f6a207d.png" width="87" height="87" />
        <icon src="res/ios/icon/46b1fa4e45108e51c721619722ef8e49.png" width="167" height="167" />

        <splash src="res/ios/screen/c298718cecaf00daf0725c6b4972bf0d.png" />
        <splash src="res/ios/screen/17df098ccceed8e546fead5ad2a491c3.png" />
        <splash src="res/ios/screen/e73f158f539570447ea7c2d063109d0c.png" />
        <splash src="res/ios/screen/ff8eb1fb6fe5ec993b674585690bc952.png" />
        <splash src="res/ios/screen/15649e6be77d3b452fac4ddfdd68d398.png" />
        <splash src="res/ios/screen/f9db61f05c6893c04792614252ce0c8d.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/23aff92ff7a15c346002c0ff603e9a0d.png" target="StoreLogo" />
        <icon src="res/windows/icon/fc0bcd9d95000e0d4f32c4df1c38b082.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/8b808599f15be6b54bbbbded9fa6c48b.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/54a44686e17c2cd46ee6af2dcd79bb6c.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/2d9c41c168521fa7b4f9a3fee0002f49.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/3d4a1da39ce0a1c5023f21fc9450a1a2.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/4371550cb66bb8d58b4d9d04d6557955.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/a36b45db0536956ecc585a605f6371cd.png" target="SplashScreen"/>
        <splash src="res/windows/screen/aedd53f3c6776a93f02b9c5de2c8e757.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>